.svg-icon {
  width: 40px;
  height: 40px;
  display: inline-block;

  &.dribbble      { background-image: url("/images/dribbble-icon.svg"); }
  &.email         { background-image: url("/images/email-icon.svg"); }
  &.facebook      { background-image: url("/images/facebook-icon.svg"); }
  &.flickr        { background-image: url("/images/flickr-icon.svg"); }
  &.github        { background-image: url("/images/github-icon.svg"); }
  &.instagram     { background-image: url("/images/instagram-icon.svg"); }
  &.linkedin      { background-image: url("/images/linkedin-icon.svg"); }
  &.pinterest     { background-image: url("/images/pinterest-icon.svg"); }
  &.rss           { background-image: url("/images/rss-icon.svg"); }
  &.stackoverflow { background-image: url("/images/stackoverflow-icon.svg"); }
  &.twitter       { background-image: url("/images/twitter-icon.svg"); }
  &.youtube 	    { background-image: url("/images/youtube-icon.svg"); }
  &.googleplus	  { background-image: url("/images/googleplus-icon.svg"); }

}
